@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Special+Gothic+Expanded+One&display=swap');
@import "tailwindcss";


@theme {
  --color-trigray: #f1f0ee;
  --color-triblack: #151515;
  --font-body: "Open Sans", sans-serif;
  --font-heading: "Special Gothic Expanded One", sans-serif;
  --font-elegant: "Host Grotesk", sans-serif;
}

@layer base {
  p {
    font-family: var(--font-body);
  }
}

@utility text-fluid-h3 {
  font-size: clamp(1.6rem, 1.45rem + 0.73vw, 2.16rem);
}

@utility btn-primary {
  @apply font-heading cursor-pointer;
  @apply bg-white text-black border border-solid border-black;
  font-family: var(--font-heading);
}